packages: [
  "aligner"
  "atom-beautify"
  "atom-jasmine"
  "atom-typescript"
  "clipboard-plus"
  "emmet"
  "expand-region"
  "file-type-icons"
  "genesis-ui"
  "git-time-machine"
  "gruvbox-syntax"
  "imdone-atom"
  "language-gitignore"
  "linter"
  "markdown-preview-plus"
  "merge-conflicts"
  "minimap"
  "minimap-cursorline"
  "package-sync"
  "pigments"
  "set-syntax"
  "seti-ui"
]
